#inputContainer {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    width: 40%;
}

input{
    margin-left: 10px;
}

@media screen and (max-width: 840px) {
    #inputContainer{
        flex-grow: 0;
    }
}