#datoContainer {
    width: 40%;
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

#resultado {
    min-width: 170px;
    display: flex;
    justify-content: space-evenly;
    color: white;
    margin-left: 10px;
    border: 1px solid white;
}   

@media screen and (max-width: 840px) {
    #datoContainer{
        flex-grow: 0;
    }
}