#datoContainer {
    width: 90%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    
}

#resultado {
    width: 90%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}