#datoContainer {
    width: 50%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    
}

#resultado {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    color: white;
}   